[submodule "hello-world"]
	path = hello-world
	url = https://github.com/semonHany-hub/Hello-world_react.git
[submodule "react-http"]
	path = react-http
	url = https://github.com/semonHany-hub/react-http.git
[submodule "state-hook"]
	path = state-hook
	url = https://github.com/semonHany-hub/state-hook.git
[submodule "effect-hook"]
	path = effect-hook
	url = https://github.com/semonHany-hub/effect-hook.git
[submodule "context-hook"]
	path = context-hook
	url = https://github.com/semonHany-hub/context-hook
[submodule "reducer-hook"]
	path = reducer-hook
	url = https://github.com/semonHany-hub/reducer-hook
[submodule "callback-memo-hooks"]
	path = callback-memo-hooks
	url = https://github.com/semonHany-hub/callback-memo-hooks.git
[submodule "ref-hook"]
	path = ref-hook
	url = https://github.com/semonHany-hub/ref-hook.git
[submodule "custom-hook"]
	path = custom-hook
	url = https://github.com/semonHany-hub/custom-hook.git
